<!-- Cian Dicker-Hughes : G00415413 -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Grades</title>
        <link rel="stylesheet" href="/css/styles.css" type="text/css" />
        <link rel="icon" href="/images/college.svg" type="image/svg+xml">
    </head>

    <body>
        <h1>Grades</h1><br>
        <p style="font-size: 20px;"><a href="/">Home</a></p>

        <!-- Table of Grades -->
        <table>
            <tr>
                <th>Student</th>
                <th>Module</th>
                <th>Grade</th>
            </tr>
            <% if (grades.length > 0) { %>
                <% grades.forEach((grade) => { %>
                    <tr>
                        <td><%= grade.studentName %></td>
                        <td><%= grade.moduleName %></td>
                        <td><%= grade.grade %></td>
                    </tr>
                <% }) %>
            <% } else { %> <!-- If no grades found -->
                <tr>
                    <td colspan="3">No grades found</td>
                </tr>
            <% } %>
        </table>
    </body>
</html>