<!-- Cian Dicker-Hughes : G00415413 -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <link rel="stylesheet" href="/css/styles.css" type="text/css" />
        <link rel="icon" href="/images/college.svg" type="image/svg+xml">
    </head>

    <body>
        <h1>G00415413</h1>
        <h2>Cian Dicker-Hughes</h2>
        <ul style="font-size: 25px;" class="nav navbar-nav">
            <li><a href="/students">Students</a> </li>
            <li><a href="/grades">Grades</a></li>
            <li><a href="/lecturers">Lecturers</a></li>
        </ul>
    </body>
</html>