<h1>G00415413</h1>
<h2>Cian Dicker-Hughes</h2>
<ul style="font-size: 25px;" class="nav navbar-nav">
    <li><a href="/Students">Students</a> </li>
    <li><a href="/Grades">Grades</a></li>
    <li><a href="/Lecturers">Lecturers</a></li>
</ul>