<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Lecturers</title>
        <link rel="stylesheet" href="/css/styles.css" type="text/css" />
        <link rel="icon" href="/images/college.svg" type="image/svg+xml">
    </head>

    <body>
        <h1>Lecturers</h1>
        <p style="font-size: 20px;"><a href="/">Home</a></p>

        <table >
            <tr>
                <th>Lecturer ID</th>
                <th>Name</th>
                <th>Department ID</th>
                <th>Action</th>
            </tr>
            <% lecturers.forEach((lecturer) => { %>
                <tr>
                    <td><%= lecturer._id %></td>
                    <td><%= lecturer.name %></td>
                    <td><%= lecturer.did %></td>
                    <td><a href="/deleteLecturer/<%= lecturer._id %>">Delete</a></td>
                </tr>
            <% }) %>
        </table>
    </body>
</html>