<style>
    /* Table styling */
    table { border-collapse: collapse; width: 100%; margin: 20px 0; font-size: 18px; text-align: left; border: 1px solid black; }

    /* Header styling */
    th { background-color: #f2f2f2; border: 1px solid black; padding: 10px;}

    /* Cell styling */
    td { border: 1px solid black; padding: 8px; }
    /* Row hover effect */
    tr:hover { background-color: #f9f9f9; }

    /* Link styling */
    a { text-decoration: none; color: blue; }
    a:hover { text-decoration: underline; }
</style>

<h1>Lecturers</h1>
<p style="font-size: 20px;"><a href="/">Home</a></p>

<table >
    <tr>
        <th>Lecturer ID</th>
        <th>Name</th>
        <th>Department ID</th>
        <th>Action</th>
    </tr>
    <% lecturers.forEach((lecturer) => { %>
        <tr>
            <td><%= lecturer._id %></td>
            <td><%= lecturer.name %></td>
            <td><%= lecturer.did %></td>
            <td><a href="/deleteLecturer/<%= lecturer._id %>">Delete</a></td>
        </tr>
    <% }) %>
</table>